[Unit]
Description=FastAPI Attendance Backend
After=network.target

[Service]
User=vivek-singh
WorkingDirectory=/home/vivek-singh/upasthit
ExecStart=/home/vivek-singh/upasthit/start_backend_production.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
